<!--
  Generated template for the MyPortfolio page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>MY PORTFOLIO</ion-title>
      <ion-buttons end>
      <button ion-button icon-only color="light" (click)="backToHome()">
        <ion-icon name="home" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>


<ion-content class="bg">
  <ion-searchbar  (ionInput)="searchImporter($event)"></ion-searchbar>
  <ion-list>
    <ion-list-header class="bg-custom-primary margin-top-3 width-100" (click)="showOffline()"> 
      <ion-row center class="justify-space-between">
        <span>Offline</span>
        <ion-icon class="font-size-4-vw" name="arrow-forward" [hidden]="offlineBar"></ion-icon>
        <ion-icon class="font-size-4-vw" name="arrow-down" [hidden]="!offlineBar"></ion-icon>
      </ion-row>
    </ion-list-header>
    <ion-item class="padding-0 bg-custom-transparent width-100" [hidden]="!offlineBar" *ngFor="let data of importerListDataOffline; let i = index" (click)="importerOfflineDetail(i)">
       <ion-grid class="padding-0">
          <ion-row center>
            <ion-col width-25>
              <ion-row center class="justify-center">
                <ion-avatar>
                  <img [src]="data.companyProfile.com_logo">
                </ion-avatar>
              </ion-row>
            </ion-col>
            <ion-col width-75>
              <ion-row center>
                <ion-col class="width-flex-80">
                  <ion-row center class="justify-flex-start">
                    <ion-col>
                      <ion-row wrap center>
                        <span class="font-color-primary width-100">{{data.companyProfile.com_name_en}}</span>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                  <ion-row center class="justify-flex-start">
                    <ion-col>
                      <ion-row wrap center>
                        <span class="font-color-primary">{{_moment(data.keyForm,'YYYY-MM-DD HH:mm:ss').format('DD / MM / YYYY')}}</span>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                  <ion-row center wrap class="justify-flex-start">
                    <ion-col>
                      <span class="font-color-dark font-weight-400">Type of business</span>
                    </ion-col>
                    <ion-col class="overFlowScroll">
                      <ion-row *ngFor="let business of data.typeOfBusiness" >
                        <span class="font-color-dark font-weight-400 " >{{business.bus_type}}</span>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col class="width-flex-20">
                  <button ion-button class="bg-custom-transparent font-color-dark" icon-only (click)="syncData(data.keyForm)">
                    <ion-icon ios="md-sync" md="md-sync"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
              
            </ion-col>
          </ion-row>
       </ion-grid>
    </ion-item>
    <ion-list-header class="bg-custom-primary margin-top-3 width-100" (click)="showOnline()" [hidden]="offlineMode"> 
      <ion-row center class="justify-space-between">
        <span>online</span>
        <ion-icon class="font-size-4-vw" name="arrow-forward" [hidden]="onlineBar"></ion-icon>
        <ion-icon class="font-size-4-vw" name="arrow-down" [hidden]="!onlineBar"></ion-icon>
      </ion-row>
    </ion-list-header>
      <ion-item-sliding class="bg-transparent item-ios-custom " *ngFor="let data of importerListData" [hidden]="!onlineBar">
        <ion-item (click)="openImporterDetail(data.com_id)">
        <ion-grid class="padding-0">
          <ion-row center>
            <ion-col width-25 >
              <ion-row center class="justify-center">
                <ion-avatar>
                  <img [src]="data.com_logo">
                </ion-avatar>
              </ion-row>
              <ion-row center class="justify-center">
                <ul class="rating-block padding-0">
                  <li *ngFor="let icon of rate; let i = index">
                    <ion-icon [name]="(data.com_rating >= i) ? icon.star : icon.starOutline"></ion-icon>
                  </li>
                </ul>
              </ion-row>
            </ion-col>
            <ion-col width-75>
              <ion-row center class="justify-flex-start">
                <ion-col>
                  <ion-row wrap center >
                    <span class="font-color-primary width-100">{{data.com_name_en}}</span>
                    <span class="margin-top-5 font-color-dark font-weight-bold">Date {{_moment(data.com_duedate,'YYYY-MM-DD').format('DD/MM/YYYY')}}</span>
                  </ion-row>
                </ion-col>
                <ion-col class="align-right">
                  <button ion-button icon-only outline small [ngClass]="{'bg-custom-primary': data.is_favorite}" > <!--(click)="favorite(data.com_id)"-->
                    <ion-icon [ngClass]="{'font-color-white': data.is_favorite}" name="heart"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
              <ion-row center wrap class="justify-flex-start" >
                <ion-col>
                  <span class="font-color-dark font-weight-400">Type of business</span>
                </ion-col>
                <ion-col class="overFlowScroll">
                  <span class="font-color-dark font-weight-400 ">{{data.bus_type}}</span>
                </ion-col>
              </ion-row>
              <ion-row center class="justify-flex-start" >
                <ion-col width-33>
                  <div class="progress-bar-custom">
                    <span class="font-color-dark font-weight-bold">
                      {{data.com_progress_value}}%
                    </span>
                    <div class="progress-custom" [ngStyle]="{'width': data.com_progress_value + '%'}">
                    </div>
                    
                  </div>
                </ion-col>
                
                <ion-col>
                  <ion-row>
                    <ion-col class="height-1-vh" *ngFor="let item of dueDate; let i = index" 
                    [ngStyle]="{
                      'background-color' : (data.option_duedate.period == item.period) ? item.color : '#ccc' , 
                      'opacity' : (data.option_duedate.period == item.period) ? 1 : item.opacity
                    }">
                    </ion-col> 
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
       <ion-item-options side="right">
        <button ion-button color="green" style="width:50px" (click)="importerDetail(data.com_id)">
          Edit
        </button>
          <button ion-button color="danger"  style="width:50px" (click)="deleteImporter(data.com_id)">
          Delete
        </button>
      </ion-item-options>
      </ion-item-sliding>
      <ion-item class="bg-transparent item-ios-custom border-bottom-0-important" [hidden]="!onlineBar">
        <ion-row center class="justify-center">
            <button ion-button small outline color="primary" (click)="nextPage()">Load more</button>
        </ion-row>
      </ion-item>
  </ion-list>
</ion-content>
